@charset "UTF-8";
/* Color Theme Swatches in Hex */
.cat-in-vr-headset-exploring-metaverse-world,-touching-virtual-reality-subjects.-generative-ai-1-hex { color: #D96AD1; }
.cat-in-vr-headset-exploring-metaverse-world,-touching-virtual-reality-subjects.-generative-ai-2-hex { color: #A0F2F2; }
.cat-in-vr-headset-exploring-metaverse-world,-touching-virtual-reality-subjects.-generative-ai-3-hex { color: #F2B9AC; }
.cat-in-vr-headset-exploring-metaverse-world,-touching-virtual-reality-subjects.-generative-ai-4-hex { color: #401818; }
.cat-in-vr-headset-exploring-metaverse-world,-touching-virtual-reality-subjects.-generative-ai-5-hex { color: #A64949; }



